# "Hello world" using python

In [1]:
print("Hello world")
print("My name is Ishwar Gautam. I am from Butwal. I am studying bsc CSIT in 7th sem......")

Hello world
My name is Ishwar Gautam. I am from Butwal. I am studying bsc CSIT in 7th sem......

# Lines and indentation

In [2]:
x=5
if x==5:
    print (True)
else:
    print (False)

#if x==7:
#print (false) //generate error bcz there is no any indentation

True

# Multi-line statements

In [3]:
x=5
y=7
z=8
total = x + \
        y + \
        z 
total

20

# Quotation in python

In [4]:
word = 'Ishwar'
sentence = "My name is Ishwar Gautam."
paragraph = """My name is Ishwar Gautam.
I love programming"""
print(word)
print(sentence)
print(paragraph)

Ishwar
My name is Ishwar Gautam.
My name is Ishwar Gautam.
I love programming

# comments in python

In [5]:
#This is comment

In [6]:
'''
This is multiline comments
'''

'\nThis is multiline comments\n'

# User input

In [7]:
input("\n\nPress the enter key to exit.")

Press the enter key to exit.

''

# Assigning values to variables

In [8]:
int_num = 100          # An integer assignment
float_num   = 1000.0       # A floating point
name    = "Ishwar"       # A string

print (int_num)
print (float_num)
print (name)

100
1000.0
Ishwar

# Multiple assignment

In [9]:
a = b = c = 1
d,e,f = 1, "Ishwar", "Gautam"
print(a+b+c+d)
print(e+" "+f)

4
Ishwar Gautam

# deleting variables

In [10]:
m=3
n=5
print(m)
print(n)
del m,n
print("successfully deleting value of m and n")
#print(m)    output-->name m is not defined
#print(n)    output-->name n is not defined

3
5
successfully deleting value of m and n

# python strings

In [11]:
string = 'Ishwar Gautam'

print (string)          # Prints complete stringing
print (string[0])       # Prints first character of the stringing
print (string[2:5])     # Prints characters starting from 3rd to 5th
#This is called slicing
print (string[2:])      # Prints stringing starting from 3rd character
print (string * 2)      # Prints stringing two times
print (string + " Programmer") # Prints concatenated stringing

Ishwar Gautam
I
hwa
hwar Gautam
Ishwar GautamIshwar Gautam
Ishwar Gautam Programmer

# Python list

In [12]:
list1 = [ 'Ishwar', 686 , 7.23, 'Gautam', 90.9 ]
list2 = [123, 'Gautam']

print (list1)          # Prints complete list of list1
print (list1[0])       # Prints first element of the list1
print (list1[1:3])     # Prints elements starting from 2nd till 3rd 
print (list1[2:])      # Prints elements starting from 3rd element
print (list2 * 2)      # Prints list2 two times
print (list1 + list2) # Prints concatenated lists

['Ishwar', 686, 7.23, 'Gautam', 90.9]
Ishwar
[686, 7.23]
[7.23, 'Gautam', 90.9]
[123, 'Gautam', 123, 'Gautam']
['Ishwar', 686, 7.23, 'Gautam', 90.9, 123, 'Gautam']

# Python tuple

In [13]:
tuple1 = ( 'Ishwar', 686 , 7.23, 'Gautam', 90.9 )
tuple2 = (123, 'Gautam')

print (tuple1)          # Prints complete tuple of tuple1
print (tuple1[0])       # Prints first element of the tuple1
print (tuple1[1:3])     # Prints elements starting from 2nd till 3rd 
print (tuple1[2:])      # Prints elements starting from 3rd element
print (tuple2 * 2)      # Prints tuple2 two times
print (tuple1 + tuple2) # Prints concatenated tuples

('Ishwar', 686, 7.23, 'Gautam', 90.9)
Ishwar
(686, 7.23)
(7.23, 'Gautam', 90.9)
(123, 'Gautam', 123, 'Gautam')
('Ishwar', 686, 7.23, 'Gautam', 90.9, 123, 'Gautam')

# Tuple and list both

In [14]:
tuple = ( 'Ishwar', 686 , 7.23, 'Gautam', 90.9 )
list = [ 'Ishwar', 686 , 7.23, 'Gautam', 90.9 ]
#tuple[2] = 1000    # Invalid syntax with tuple
list[2] = 1000     # Valid syntax with list
print(list)

['Ishwar', 686, 1000, 'Gautam', 90.9]

# Python dictionary

In [15]:
dict = {}
dict['one'] = "This is one"
dict[2]     = "This is two"

dict2 = {'name': 'Ishwar','code':239, 'dept': 'sales'} #key:value pair

print (dict)              # Prints dict
print (dict['one'])       # Prints value for 'one' key
print (dict[2])           # Prints value for 2 key
print (dict2)          # Prints complete dictionary
print (dict2.keys())   # Prints all the keys
print (dict2.values()) # Prints all the values

{'one': 'This is one', 2: 'This is two'}
This is one
This is two
{'name': 'Ishwar', 'code': 239, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['Ishwar', 239, 'sales'])

# Python basic operation

### 1. Python arithmetic operation

In [16]:
a = 5
b = 2

add = a + b
sub = a - b
mul = a * b
div1 = a / b 
mod = a % b
exp = a**b 
div2 = a//b #decimal point are discarded

print(add)
print(sub)
print(mul)
print(div1)
print(mod)
print(exp)
print(div2)

7
3
10
2.5
1
25
2

### 2. Python comparison operation

In [17]:
a = 78
b = 20

if ( a == b ):
    print ("a is equal to b")
else:
    print ("a is not equal to b")

if ( a != b ):
    print ("a is not equal to b")
else:
    print ("a is equal to b")

if ( a < b ):
    print ("a is less than b") 
else:
    print ("a is not less than b")

if ( a > b ):
    print ("a is greater than b")
else:
    print ("a is not greater than b")

if ( a <= b ):
    print ("a is either less than or equal to  b")
else:
    print ("a is neither less than nor equal to  b")

if ( b >= a ):
    print ("b is either greater than  or equal to b")
else:
    print ("b is neither greater than  nor equal to b")

a is not equal to b
a is not equal to b
a is not less than b
a is greater than b
a is neither less than nor equal to  b
b is neither greater than  nor equal to b

### 3. Python assignment statements

In [18]:
a = 21
b = 10

c = a + b
print(c)

c += a #c=c+a
print(c)

c *= a #c=c*a
print(c)

c /= a 
print(c)

c  = 2
c %= a
print(c)

c **= a
print(c)

c //= a
print(c)

31
52
1092
52.0
2
2097152
99864

### 4. Python bitwise operators

In [19]:
a = 60            # 60 = 0011 1100 
b = 13            # 13 = 0000 1101 

c = a & b;        # 12 = 0000 1100
print ("Line 1 - Value of c is ", c)

c = a | b;        # 61 = 0011 1101 
print ("Line 2 - Value of c is ", c)

c = a ^ b;        # 49 = 0011 0001
print ("Line 3 - Value of c is ", c)

c = ~a;           # -61 = 1100 0011--> 2's complement=0011 1101
print ("Line 4 - Value of c is ", c)

c = a << 2;       # 240 = 1111 0000
print ("Line 5 - Value of c is ", c)

c = a >> 2;       # 15 = 0000 1111
print ("Line 6 - Value of c is ", c)

Line 1 - Value of c is  12
Line 2 - Value of c is  61
Line 3 - Value of c is  49
Line 4 - Value of c is  -61
Line 5 - Value of c is  240
Line 6 - Value of c is  15

### 5. Python membership operator

In [20]:
a = 1
b = 8
list = [1, 2, 3, 4, 5 ];

if ( a in list ):
    print ("Line 1 - a is available in the given list")
else:
    print ("Line 1 - a is not available in the given list")

if ( b not in list ):
    print ("Line 2 - b is not available in the given list")
else:
    print ("Line 2 - b is available in the given list")

Line 1 - a is available in the given list
Line 2 - b is not available in the given list

### 6. Python identity operators

In [21]:
a = 20
b = 20

if ( a is b ):
    print ("Line 1 - a and b have same identity")
else:
    print ("Line 1 - a and b do not have same identity")

if ( id(a) == id(b) ):
    print ("Line 2 - a and b have same identity")
else:
    print ("Line 2 - a and b do not have same identity")

b = 30
if ( a is b ):
    print ("Line 3 - a and b have same identity")
else:
    print ("Line 3 - a and b do not have same identity")

if ( a is not b ):
    print ("Line 4 - a and b do not have same identity")
else:
    print ("Line 4 - a and b have same identity")

Line 1 - a and b have same identity
Line 2 - a and b have same identity
Line 3 - a and b do not have same identity
Line 4 - a and b do not have same identity

# Decision making

### 1. if statement

In [22]:
num = 10
if num==10:
    print("number is 10")

number is 10

### 2. if-else statement

In [23]:
num = 10
if num==20:
    print("number is 20")
else:
    print("number is not 20")

number is not 20

### 3. if-elif-else statement

In [24]:
num=40
if num==10:
    print("number is 10")
elif num==20:
    print("number is 20")
elif num ==30:
    print("number is 30")
else:
    print("number is other than 10, 20 and 30")

number is other than 10, 20 and 30

### 4. nested if statement

In [25]:
var = 100
if var < 200:
    print ("Expression value is less than 200")
    if var == 150:
        print ("Value is 150")
    elif var == 100:
        print ("Value is 100")
    elif var == 50:
        print ("Value is 50")
    elif var < 50:
        print ("Expression value is less than 50")
else:
    print ("Could not find true expression")

print ("Good bye!")

Expression value is less than 200
Value is 100
Good bye!

# Python loop

### 1. while loop

In [26]:
count = 0
while (count < 10):
    print ('The count is:', count)
    count = count + 1

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
The count is: 9

### 2. for loop

In [27]:
for letter in 'Python':     # First Example
    print ('Current Letter :', letter)

fruits = ['banana', 'apple',  'mango']
for fruit in fruits:        # Second Example
    print ('Current fruit :', fruit)

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : h
Current Letter : o
Current Letter : n
Current fruit : banana
Current fruit : apple
Current fruit : mango

### 3. nested loop

In [28]:
j=0
while(j<10):
    print("The number is",j)
    while(j>5 and j<8):
        print("This number",j,"is lucky number.")
        break
    j=j+1

The number is 0
The number is 1
The number is 2
The number is 3
The number is 4
The number is 5
The number is 6
This number 6 is lucky number.
The number is 7
This number 7 is lucky number.
The number is 8
The number is 9

# Loop control statements

### 1. break statement

In [29]:
i=0
while(i<100000000000):
    print("The number is ",i)
    if(i==10):
        break
    i=i+1

The number is  0
The number is  1
The number is  2
The number is  3
The number is  4
The number is  5
The number is  6
The number is  7
The number is  8
The number is  9
The number is  10

### 2. continue statement

In [30]:
i=0
while(i<30):
    i=i+1
    if(i==10):
        continue
    if(i==20):
        continue
    if(i==30):
        continue
    print("The number is ",i)

The number is  1
The number is  2
The number is  3
The number is  4
The number is  5
The number is  6
The number is  7
The number is  8
The number is  9
The number is  11
The number is  12
The number is  13
The number is  14
The number is  15
The number is  16
The number is  17
The number is  18
The number is  19
The number is  21
The number is  22
The number is  23
The number is  24
The number is  25
The number is  26
The number is  27
The number is  28
The number is  29

### 3. pass statement

In [31]:
for letter in 'Python': 
    if letter == 'h':
        pass
        print ('This is pass block')
    print ('Current Letter :', letter)

Current Letter : P
Current Letter : y
Current Letter : t
This is pass block
Current Letter : h
Current Letter : o
Current Letter : n

# Python date and time

## ticks

In [32]:
import time;  # This is required to include time module.

ticks = time.time()
print ("Number of ticks since 12:00am, January 1, 1970:", ticks)

Number of ticks since 12:00am, January 1, 1970: 1581764979.4881856

## Getting current time

In [33]:
localtime = time.localtime(time.time())
print ("Local current time :", localtime)

Local current time : time.struct_time(tm_year=2020, tm_mon=2, tm_mday=15, tm_hour=16, tm_min=54, tm_sec=39, tm_wday=5, tm_yday=46, tm_isdst=0)

## Getting formatted time

In [34]:
localtime = time.asctime( time.localtime(time.time()) )
print ("Local current time :", localtime)

Local current time : Sat Feb 15 16:54:40 2020

## Getting calender for a month

In [35]:
import calendar
cal = calendar.month(2020, 2) # 2 means february
print ("Calendar:")
print(cal)

Calendar:
   February 2020
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29

## Sleep() method

In [36]:
print ("Start : %s" % time.ctime())
time.sleep( 5 )
print ("End : %s" % time.ctime())

Start : Sat Feb 15 16:54:40 2020
End : Sat Feb 15 16:54:45 2020

# Python - Functions

In [37]:
def func( string ):
    print (string)
    
# calling a function
func("My name is Ishwar Gautam")
func("I love programming")

My name is Ishwar Gautam
I love programming

In [38]:
def func1( mylist ):
    mylist.append([1,2,3,4])
    print ("Values inside the function: ", mylist)
    return

mylist = [10,20,30]
func1( mylist )
print ("Values outside the function: ", mylist)

Values inside the function:  [10, 20, 30, [1, 2, 3, 4]]
Values outside the function:  [10, 20, 30, [1, 2, 3, 4]]

In [39]:
def func2( mylist ):
    mylist= [1,2,3,4]
    print ("Values inside the function: ", mylist)
    return

mylist = [10,20,30]
func2( mylist )
print ("Values outside the function: ", mylist)

Values inside the function:  [1, 2, 3, 4]
Values outside the function:  [10, 20, 30]

In [40]:
def func3( str ):
    print (str)
    return

func3( str = "Ishwar Gautam")

Ishwar Gautam

In [41]:
def func4( name, age ):
    print ("Name: ", name)
    print ("Age: ", age)
    return

func4(age=22, name="Ishwar")

Name:  Ishwar
Age:  22

In [42]:
def func4( name, age=25 ):
    print ("Name: ", name)
    print ("Age: ", age)
    return
func4( age=22, name="Ishwar" )
func4( name="IG" )

Name:  Ishwar
Age:  22
Name:  IG
Age:  25

### Variable length arguments

In [43]:
def func5( arg1, *vartuple ):
    print ("Output is: ")
    print ("arg1=",arg1)
    for var in vartuple:
        print ("var=",var)
    return

func5(10)
func5(70, 60, 50)

Output is:
arg1= 10
Output is:
arg1= 70
var= 60
var= 50

## Anonymous functions (use of lambda)

In [44]:
sum = lambda arg1, arg2: arg1 + arg2;

# Now we can call sum as a function
print ("Value of total : ", sum( 10, 20 ))
print ("Value of total : ", sum( 20, 20 ))

Value of total :  30
Value of total :  40

## return statement

In [45]:
def sum( arg1, arg2 ):
    # Add both the parameters and return them"
    total = arg1 + arg2
    print ("Inside the function : ", total)
    return total

# Now you can call sum function
total = sum( 30, 20 )
print ("Outside the function : ", total)

Inside the function :  50
Outside the function :  50

## Global vs local variable

In [46]:
total = 0 # This is global variable.

def sum( arg1, arg2 ):
   # Add both the parameters and return them"
    total = arg1 + arg2; # Here total is local variable.
    print ("Inside the function--> local total : ", total)
    return total

# Now you can call sum function
sum( 80, 20 )
print ("Outside the function--> global total : ", total)

Inside the function--> local total :  100
Outside the function--> global total :  0

# Python modules

In [47]:
#The import statement
import time
import os
import sys
import math

#from fib import fibonacci  (e.g.)
#reload(module_name)

# Python - Files I/O

In [48]:
string = input("Enter your name: ")
print ("Your name is : ", string)

Enter your name: Ishwar
Your name is :  Ishwar

### Opening and closing a file

In [49]:
# Open a file
file = open("mytext.txt", "wb")
print ("Name of the file: ", file.name)
print ("Closed or not : ", file.closed)
print ("Opening mode : ", file.mode)

#close a file
file.close()
print ("Closed or not : ", file.closed)

Name of the file:  mytext.txt
Closed or not :  False
Opening mode :  wb
Closed or not :  True

### The Write() method

In [50]:
# Open a file
file = open("mytext.txt", "w")
file.write( "My name is Ishwar Gautam. \n I love programming....")

# Closing opened file
file.close()

### The read() method

In [51]:
# Open a file
file = open("mytext.txt", "r+")
string = file.read(10)
print ("Read String is : ", string)

# Closing opened file
file.close()

Read String is :  My name is

### File position

In [52]:
# Open a file
file = open("mytext.txt", "r+")
string = file.read(10)
print ("Read String is : ", string)

# Check current position
position = file.tell()
print ("Current file position : ", position)

# Reposition pointer at the beginning once again
position = file.seek(0, 0);
string = file.read(10)
print ("Again read String is : ", string)

# Closing opened file
file.close()

Read String is :  My name is
Current file position :  10
Again read String is :  My name is

### The rename() method

In [53]:
import os

# Rename a file
os.rename( "mytext.txt", "myfile.txt" )

### The remove() method

In [54]:
os.remove("myfile.txt")

### Directories in python

In [55]:
# Create a directory 
#os.mkdir("my folder")

In [56]:
# Changing a directory
#os.chdir("E:/DS and ML/Three month online mentorship/my folder/test")

# Python Exceptions

In [57]:
os.chdir("E:/DS and ML/Three month online mentorship")
try:
    file = open("testfile", "w")
    file.write("This is my test file for exception handling!!")
except IOError:
    print ("Error: can\'t find file or read data")
else:
    print ("Written content in the file successfully")
    file.close()

Written content in the file successfully

In [58]:
try:
    file = open("testfile.txt", "w")
    file.write("This is my test file for exception handling!!")
finally:
    file.close()

In [59]:
try:
    file = open("testfile", "w")
    try:
        file.write("This is my test file for exception handling!!")
    finally:
        print ("Going to close the file")
        file.close()
except IOError:
    print ("Error: can\'t find file or read data")

Going to close the file

In [60]:
def do_stuff_with_number(n):
    print(n)

def catch_this():
    the_list = (1, 2, 3, 4, 5)

    for i in range(8):
        try:
            do_stuff_with_number(the_list[i])
        except IndexError: # Raised when accessing a non-existing index of a list
            do_stuff_with_number(0)

catch_this()

1
2
3
4
5
0
0
0

# int() function

In [61]:
num1 = int (input("Enter first number: "))
num2 = int (input("Enter second number: "))
total = num1 + num2
print("total is "+str(total))

Enter first number: 55
Enter second number: 10
total is 65

# More than one input in one line:

In [62]:
name, age = input("enter your name and age: ").split()

enter your name and age: Ishwar 22

In [63]:
name, age = input("enter your name and age: ").split(",")

enter your name and age: Ishwar,22

# String formatting

In [64]:
print("hello {}, your age is {}".format(name,age))

hello Ishwar, your age is 22

In [65]:
print(f"hello {name}, your age is {age}")

hello Ishwar, your age is 22

# Basic string operation

In [66]:
str1 = "Ishwar Gautam"
str2 = 'IshwarGautam'
print(len(str1))
print(str1.index("r"))
print(str1.count("a"))
print(str1[2:5]) #start_index:end_index
print(str2[2:11:2]) #step argument is included
print(str2[::-1]) #string reverse
print(str2[-6:10]) #output:Gaut
print(str2.upper())
print(str2.lower())
print(str2.startswith("hello")) #return boolean value
print(str2.endswith("am"))
print(str1.split()) #return value inside list
print(str1.replace(" ","_"))
print(str1) #original string does not get changed
print(str1.find("war"))
print(str1.find("war", 4)) #second argument is the starting position to search

13
5
3
hwa
haGua
matuaGrawhsI
Gaut
ISHWARGAUTAM
ishwargautam
False
True
['Ishwar', 'Gautam']
Ishwar_Gautam
Ishwar Gautam
3
-1

# List comprehension

In [67]:
square = [i**2 for i in range (1,11)]
square

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [68]:
odd_nums = [i for i in range(1,11) if i%2!=0]
odd_nums

[1, 3, 5, 7, 9]

In [69]:
new_list = [i*2 if (i%2==0) else -i for i in range(1,11)]
new_list

[-1, 4, -3, 8, -5, 12, -7, 16, -9, 20]

In [70]:
list_inside_list = [[i for i in range(1,4)] for j in range (3)]
list_inside_list

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [71]:
# without using list comprehension
sentence = "the quick brown fox jumps over the lazy dog"
words = sentence.split()
word_lengths = []
for word in words:
    if word != "the":
        word_lengths.append(len(word))
print(words)
print(word_lengths)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[5, 5, 3, 5, 4, 4, 3]

In [72]:
# with list comprehension
sentence = "the quick brown fox jumps over the lazy dog"
words = sentence.split()
word_lengths = [len(word) for word in words if word != "the"]
print(words)
print(word_lengths)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[5, 5, 3, 5, 4, 4, 3]

# Dictionary comprehension

In [73]:
square = {num:num**2 for num in range(1,4)}
square

{1: 1, 2: 4, 3: 9}

In [74]:
odd_even = {i:('even' if i%2==0 else 'odd') for i in range (1,11)}
odd_even

{1: 'odd',
 2: 'even',
 3: 'odd',
 4: 'even',
 5: 'odd',
 6: 'even',
 7: 'odd',
 8: 'even',
 9: 'odd',
 10: 'even'}

# Sets comprehension

In [75]:
s = {k**2 for k in range (1,11)}
s

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

# List vs set

In [76]:
lst = [3,2,5,7,6,3,5]
print(lst)
st = set(lst)
print(st)
print("So in list, there are repeated element while in set, there are unique element")

[3, 2, 5, 7, 6, 3, 5]
{2, 3, 5, 6, 7}
So in list, there are repeated element while in set, there are unique element

# Classes and objects

In [77]:
class MyClass:
    variable = "Ishwar"

    def function(self):
        print("This is a message inside the class.")
        
#creating object
myobject = MyClass()

#accessig object variables
print(myobject.variable)

#accessing object funtion
print(myobject.function())

Ishwar
This is a message inside the class.
None

In [78]:
class person:
    def __init__(self, first_name, last_name, age):
        print("init method called")
        self.first_name = first_name
        self.last_name  = last_name
        self.age = age
p1 = person("Ishwar","Gautam",22)
p2 = person("Bijay","Gautam",24)
print(p1.first_name)
print(p2.first_name)

init method called
init method called
Ishwar
Bijay